zsh/there-zsh/install.zsh
zsh/there-zsh/zshrc.zsh
zsh/there-zsh/commands/convert-pdf2images
zsh/there-zsh/commands/convert-pdf2scan
zsh/there-zsh/commands/docker-registry-image-tags
zsh/there-zsh/commands/gauth
zsh/there-zsh/commands/hibp
zsh/there-zsh/commands/jvm
zsh/there-zsh/commands/myip
zsh/there-zsh/commands/transfer
zsh/there-zsh/modules/completion.zsh
zsh/there-zsh/modules/general.zsh
zsh/there-zsh/modules/history.zsh
zsh/there-zsh/modules/plugins.zsh
zsh/there-zsh/notes/http-server.md
zsh/there-zsh/notes/reverse-shell.md
zsh/there-zsh/notes/ssh.md
zsh/there-zsh/notes/ssl.md
zsh/there-zsh/notes/zip.md
zsh/there-zsh/utils/git.zsh
zsh/there-zsh/utils/math.zsh
zsh/there-zsh/utils/network.zsh
zsh/there-zsh/utils/osx.zsh
zsh/there-zsh/utils/process.zsh
zsh/there-zsh/utils/ssh.zsh
zsh/there-zsh/utils/ssl.zsh
zsh/there-zsh/utils/zsh.zsh
customized/artix_installer-2.sh
customized/artix_installer.sh
customized/artix_postinstall.sh
test.sh
test2.sh
